In [15]:
import pandas as pd
Location = (r'C:\Users\liamk\Desktop\USF\BUSINESS INTELLIGENCE\Income.xls')
df

,Areaname,STCOU,PEN010201F,PEN010201D,PEN010201N1,PEN010201N2,PEN010202F,PEN010202D,PEN010202N1,PEN010202N2,...,PEN020201N1,PEN020201N2,PEN020202F,PEN020202D,PEN020202N1,PEN020202N2,PEN020203F,PEN020203D,PEN020203N1,PEN020203N2
0,UNITED STATES,0,0,8703023000,0,0,0,8872871000,0,0,...,0,0,0,30838,0,0,0,31530,0,0
1,ALABAMA,1000,0,110970011,0,0,0,113835223,0,0,...,0,0,0,25467,0,0,0,26380,0,0
2,"Autauga, AL",1001,0,1095107,0,0,0,1116212,0,0,...,0,0,0,24717,0,0,0,25602,0,0
3,"Baldwin, AL",1003,0,3880963,0,0,0,3984741,0,0,...,0,0,0,26918,0,0,0,27133,0,0
4,"Barbour, AL",1005,0,589412,0,0,0,591444,0,0,...,0,0,0,20209,0,0,0,20364,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,"Sweetwater, WY",56037,0,1114377,0,0,0,1149241,0,0,...,0,0,0,31197,0,0,0,33603,0,0
3194,"Teton, WY",56039,0,1297806,0,0,0,1358704,0,0,...,0,0,0,72662,0,0,0,78651,0,0
3195,"Uinta, WY",56041,0,519550,0,0,0,545761,0,0,...,0,0,0,27895,0,0,0,29126,0,0
3196,"Washakie, WY",56043,0,227925,0,0,0,232192,0,0,...,0,0,0,29425,0,0,0,31571,0,0
3197,"Weston, WY",56045,0,198698,0,0,0,200457,0,0,...,0,0,0,30646,0,0,0,31350,0,0